:root {
        --blanco: #ffffff;
        --oscuro: #212121;
        --primario: #ffc107;
        --secundario: #0097a7;
        --gris: #828282;
        --grisclaro: #dfe9f3;
}
/*globlaes*/
html {
    font-size: 62.5%;
    box-sizing: border-box; /* hack para box model */
    scroll-snap-type: y mandatory;
}
/*scroll- snap */
.servicio,
.navegacion-principal,
.formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always;
    
}
*, *:before, *:after {
box-sizing: inherit;
}    

body{
    font-size: 16px;/*1 rem es igual a 10 px */
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(to top, var(--grisclaro) 50%, var(--blanco) 100%); /*color de fondo*/
}
.sombra{
    box-shadow: 1px 5px 15px 3px rgba(204,204,204,1);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}
/*tipografia */
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 2.8rem;  
}
h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;
}
/*titulos*/
.titulo span{
        font-size: 20px;
}


.contenedor {
    max-width: 120rem;
    /*esto es lo mismo que el margin solo, descripto en una sola linea
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;	
    margin-left: auto;*/
    margin: 0 auto;
}
.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none; /* quita el subrayado*/
    text-transform: uppercase; /* Mayusculas */
    font-weight: bold;
    border-radius: .5rem; /* redondea las esquinas*/
    width: 90% ;
    text-align:  center;
    border: none;
}
.boton:hover{
    cursor: pointer;
}
@media (min-width: 480px) {
    .boton{
        width:auto; /* resetea el tamaño del boton dependiendo el tamaño de la pantalla */
    }
}
/* utilidades **/
.w-100{
    width: 100%;
}
@media (min-width: 768px) {
    .w-100 {
    width: auto;
    }   
}
.flex{
    display: flex;
}
.aliniar-derecha {
    justify-content: flex-end;
}
/** navegacion principal */
.nav-bg{
    background-color: var(--secundario);
}
.navegacion-principal {
    display: flex;
    flex-direction: column;
    
}
@media (min-width: 768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between; /* configura de forma horizontal */
        /*align-items: center; configura de forma vertical*/
    }
}
.navegacion-principal a {
    display: block;
    text-align: center; 
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight:700;
    padding: 1rem;
}
.navegacion-principal a:hover {
    background-color: var(--primario);
    color: var(--oscuro)
}   

.hero {
    background-image: url(../Img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;

}
.contenido-hero {
    position:absolute;  
    /*background-color:rgb(0, 0,0, .5) ; /* anterior, los dos metodos sirven */
    background-color: rgb(0 0 0 / 70%);
    width: 100%;    
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}

.contenido-hero h2, 
.contenido-hero p {
    color: var(--blanco);
}

/*Servivicos*/
@media (min-width:768px ) {
   
 .servicios{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ; /* se divide en tercios
        grid-template-columns: (3,1fr);
        grid-template-columns: 33.33%,33.33%,33.33% ;*/

        /* grid-template-columns:300px 300px;
        grid-template-rows: 200px 800px;
        /* el grid solo es los mismo que lo de arriba
        grid: 200px 800px/ 300px 300px  ;*/
        column-gap: 1rem;
    }
}
.servicio {
    display: flex;
    flex-direction: column;
    align-items:center;

}
.servicio h3{
    color: var(--secundario);
    font-weight: normal;


}
.servicio p {
    line-height: 2;
    text-align: center;
}

.servicio .iconos {
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

/** Contactos**/
.formulario {
    background-color: var(--gris);
    width: min(60rem, 100%); /*ultilizar el valor mas pequeño, asigna el valor del margen del formualrio */
    margin: 0 auto; /*usar siempre cuando sea un formulario **/
    padding: 2rem;
    border-radius: 1rem; /** esquinas redondeadas **/

}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}
@media (min-width: 768px) {
    .contenedor-campos  {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }

    .campo:nth-child(3),
    .campo:nth-child(4)  {
         grid-column: 1 / 3;
         
    }
}

.campo {
    margin-bottom: 1rem;
}
.campo-label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem ;
    display: block;
}
.campo textarea {
    height: 18rem;
}

.input-text {
    width: 100%;
    border:  none;
    padding: 1.5rem;
    border-radius: .5rem
    
}
/*footer*/

.footer {
    text-align: center;
}